/* <<<--- grid --->>> */
.container-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: dense;
    gap: 1.1em;
    padding: 0.9em;
}


img{
    max-width: 100%;
}

@media (min-width: 640px){
    .container-gallery-item:nth-child(3n+4){
        grid-column: span 2;
    }
}

.container-character-item img{
    @include sizes(80vh, 65vh);
}

.container-gallery-item img{
    border-radius: 3.14%;
}

.container-gallery-item:hover, .container-character-item:hover{
    transform: scale(1.01);
    
}